html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Slab', sans-serif !important;
    font-size: 1rem !important;
    display: flex;
    flex-flow: column wrap;
}

h1 {
    color: black;
}

main {
    background-color: #fbfbfd;
    color: black;
    height: 100%;
    display: flex;
    flex-flow: row;
}

section {
    flex: 1 0 0;
    background-color: white;
    border-radius: 6px;
    height: 100%;
    margin: 1em;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.title {
    border-bottom: 1px solid #e0e0e0;
}

h2 {
    margin-bottom: 2%;
    text-align: left;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

h3 {
    margin-top: 2%;
}

ul {
    display: block;
    list-style-position: outside;
    text-align-last: left;
    margin-left: 1em;
}

p, li {
    margin-top: 1em;
}

.qty-1::marker {
    content: '1 - ';
}

.qty-2::marker {
    content: '2 - ';
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

footer {
    width: 100%;
    margin: 0;
    padding: 2%;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #ebebeb;
}

small {
    font-size: 1rem;
}

@media only screen and (max-width: 850px) {
    main {
        display: block;
    }
}

/* Playing around with dark mode for app. Added this comment */

/* @media (prefers-color-scheme: dark) {
    h1,h2,h3,h4 {
        color: #bdc1c6;
    }
    
    body {
        background-color: #202124;
        color: #bdc1c6;
    }
    main {
        background-color: #202124;
        color: #bdc1c6;
    }
    
    header {
        background-color: #202124;
        border-bottom: 2px solid #303134;
    }
    
    section {
        background-color: #303134;
        color: #bdc1c6;
    }
    
    .title {
        border-bottom: 1px solid #202124;
    }
    
    footer {
        border-top: 1px solid #303134;
        background-color: #202124;
        color: #bdc1c6;
    }
} */