@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --background-color: #f5f5f7;
    --section-color: white;
    --accent-color: #e0e0e0;

    --tile-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --top-margin: 0.75em;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1rem !important;
    display: flex;
    flex-flow: column wrap;
}

main {
    /* background-color: #fbfbfd; */
    background-color: var(--background-color);
    height: 100%;
    display: flex;
    flex-flow: row;
}

section {
    flex: 1 0 0;
    background-color: var(--section-color);
    border-radius: 6px;
    height: 100%;
    margin: 1em;
    padding: 1em;
    box-shadow: var(--tile-shadow);
}

.title {
    border-bottom: 1px solid var(--accent-color);
}

h2 {
    margin-bottom: 0.25em;
}

h3, p, li {
    margin-top: var(--top-margin);
}

ul {
    list-style-position: outside;
    margin-left: 1em;
}

li {
    padding-left: 0.5em;
}

.qty-1::marker, .qty-2::marker{
    list-style-type: none;
    font-weight: bold;
}
.qty-1::marker {
    content: '1';
}

.qty-2::marker {
    content: '2';
}

.bold {
    font-weight: bold;
}

.normal {
    font-weight: normal;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-top: 1px solid var(--accent-color);
}

.store {
    display: block;
    font-size: 1rem;
    padding-right: 0.5em;
}

.condition {
    display: block;
    padding-top: 1em;
}

@media only screen and (max-width: 850px) {
    main {
        display: block;
    }
}

/* Playing around with dark mode for app. Added this comment */

/* @media (prefers-color-scheme: dark) {
    h1,h2,h3,h4 {
        color: #bdc1c6;
    }
    
    body {
        background-color: #202124;
        color: #bdc1c6;
    }
    main {
        background-color: #202124;
        color: #bdc1c6;
    }
    
    header {
        background-color: #202124;
        border-bottom: 2px solid #303134;
    }
    
    section {
        background-color: #303134;
        color: #bdc1c6;
    }
    
    .title {
        border-bottom: 1px solid #202124;
    }
    
    footer {
        border-top: 1px solid #303134;
        background-color: #202124;
        color: #bdc1c6;
    }
} */